<nav class="navbar navbar-light navbar-expand-sm">
    <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <a class="nav-item nav-link" routerLink = "/">Home</a>
            <a class="nav-item nav-link" routerLink = "contact-me"
                >Contact</a
            >
            <a class="nav-item nav-link" routerLink = "js-projects"
                >Projects</a
            >
        </ul>
    </div>
</nav>
