<div class="poster">
    <div class="main-content">
        <h2>I'm Always avilable.</h2>
        <h4>Reach out</h4>
        <a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=rahu8299@gmail.com"><img src="https://img.icons8.com/ios-filled/100/000000/email.png"></a>
        <a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=rahu8299@gmail.com"><img src="https://img.icons8.com/material-sharp/192/000000/twitter.png"></a>
        <a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=rahu8299@gmail.com"><img src="https://img.icons8.com/ios-filled/150/000000/github.png"></a>
    </div>
</div>
